    variables:
      GIT_STRATEGY: clone

    before_script:
      - whoami
      - git submodule add --force https://usdevrepos:mDRg-9kqCpmuypoxR1GZ@gitlab.com/75f/apps/lightsaber/ci-setup.git
      - cd ci-setup
      - git reset --hard && git checkout master && git pull
      - ls -al
      - cd ..
      - rm -f setup.py
      - touch setup.py
      - cat ci-setup/setup.py >> setup.py
      - ls -al
      - pip install configparser
      - python setup.py
      - chmod +x ./build.sh
    stages:
      - build
    
    build:
      stage: build
      script:
        - ./build.sh
      except:
        - tags
        - schedules