# Gradle
# Build your Java project and run tests with Gradle using a Gradle wrapper script.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- task: JavaToolInstaller@0
  inputs:
    versionSpec: '11'
    jdkArchitectureOption: 'x64'
    jdkSourceOption: 'PreInstalled'

- task: Gradle@2
  displayName: 'gradlew assembleQA'
  inputs:
    tasks: assembleQA

- task: CopyFiles@2
  inputs:
    Contents: '**/*.apk'
    TargetFolder: '$(System.DefaultWorkingDirectory)/app/build/outputs/apk/qa/*.apk'

- task: Bash@3
  displayName: 'search-apk'
  inputs:
    targetType: 'inline'
    script: find "$(System.DefaultWorkingDirectory)/app/build/outputs/apk/qa/" -name '*.apk'
    
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: qaApk'
  inputs:
    PathtoPublish: '$(System.DefaultWorkingDirectory)/app/build/outputs/apk/qa/*.apk'
    ArtifactName: qaApk
- task: Gradle@2
  displayName: 'gradlew assembleStaging'
  inputs:
    tasks: assembleStaging
- task: CopyFiles@2
  inputs:
    Contents: '**/*.apk'
    TargetFolder: '$(System.DefaultWorkingDirectory)/app/build/outputs/apk/staging/*.apk'
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: StagingApk'
  inputs:
    PathtoPublish: '$(System.DefaultWorkingDirectory)\app\build\outputs\apk\staging\*.apk'
    ArtifactName: StagingApk
- task: Gradle@2
  displayName: 'gradlew assembleProd'
  inputs:
    tasks: assembleProd
- task: CopyFiles@2
  inputs:
    Contents: '.apk'
    TargetFolder: '$(System.DefaultWorkingDirectory)\app\build\outputs\apk\prod\*.apk'
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: ProdApk'
  inputs:
    PathtoPublish: '$(System.DefaultWorkingDirectory)\app\build\outputs\apk\prod\*.apk'
    ArtifactName: ProdApk
- task: Gradle@2
  displayName: 'gradlew assembleDaikin_prod'
  inputs:
    tasks: assembleDaikin_prod
- task: CopyFiles@2
  inputs:
    Contents: '.apk'
    TargetFolder: '$(System.DefaultWorkingDirectory)\app\build\outputs\apk\daikin_prod\*.apk'
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: Daikin_prodApk'
  inputs:
    PathtoPublish: '$(System.DefaultWorkingDirectory)\app\build\outputs\apk\daikin_prod\*.apk'
    ArtifactName: Daikin_prodApk
- task: Gradle@2
  displayName: 'gradlew assembleCarrier_prod'
  inputs:
    tasks: assembleCarrier_prod
- task: CopyFiles@2
  inputs:
    Contents: '.apk'
    TargetFolder: '$(System.DefaultWorkingDirectory)\app\build\outputs\apk\carrier_prod\*.apk'
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: Carrier_prodApk'
  inputs:
    PathtoPublish: '$(System.DefaultWorkingDirectory)\app\build\outputs\apk\carrier_prod\*.apk'
    ArtifactName: Carrier_prodApk