# Gradle
# Build your Java project and run tests with Gradle using a Gradle wrapper script.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- task: JavaToolInstaller@0
  inputs:
    versionSpec: '11'
    jdkArchitectureOption: 'x64'
    jdkSourceOption: 'PreInstalled'

- task: Gradle@2
  displayName: 'gradlew assembleQA'
  inputs:
    tasks: assembleQA
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: qaApk'
  inputs:
    PathtoPublish: '$(System.DefaultWorkingDirectory)\apk\qa'
    ArtifactName: qaApk
- task: Gradle@2
  displayName: 'gradlew assembleStaging'
  inputs:
    tasks: assembleStaging
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: StagingApk'
  inputs:
    PathtoPublish: '$(System.DefaultWorkingDirectory)\apk\Staging'
    ArtifactName: StagingApk
