<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="a75f.io.logic">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <service
            android:name=".jobs.bearertoken.BearerTokenManagerService"
            android:exported="true"/>

        <receiver android:name=".service.FileBackupJobReceiver"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>
