<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <script id="relay1chart">
    function loadChart1() {
        var relay1Chart = new CanvasJS.Chart("relay1ChartContainer",{
            animationEnabled: true,
            theme: "light2",
            title:{
                text: "Relay 1"
            },
            axisY:{
                includeZero: true
            },
            axisX:{
                includeZero: true
            },
            data:chart1Data
        });
        relay1Chart.render();
    }
    </script>
    <script id="relay2chart">
    function loadChart2() {
        var relay2Chart = new CanvasJS.Chart("relay2ChartContainer",{
            animationEnabled: true,
            theme: "light2",
            title:{
                text: "Relay 2"
            },
            axisY:{
                includeZero: true
            },
            axisX:{
                includeZero: true
            },
            data:chart2Data
        });
    relay2Chart.render();
    }
    </script>
    <script id="analog1chart">
    function loadChart3() {
        var analog1Chart = new CanvasJS.Chart("analog1ChartContainer",{
            animationEnabled: true,
            theme: "light2",
            title:{
                text: "Analog 1"
            },
            axisY:{
                includeZero: true
            },
            axisX:{
                includeZero: true
            },
            data:chart3Data
        });
        analog1Chart.render();
    }
    </script>
    <script id="analog2chart">
    function loadChart4() {
        var analog2Chart = new CanvasJS.Chart("analog2ChartContainer",{
            animationEnabled: true,
            theme: "light2",
            title:{
                text: "Analog 2"
            },
            axisY:{
                includeZero: true
            },
            axisX:{
                includeZero: true
            },
            data:chart4Data
        });
        analog2Chart.render();
    }
</script>
<script>
window.onload = function () {
	loadChart1();
	loadChart2();
	loadChart3();
	loadChart4();
};
</script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript" src="jquery-3.2.1.js"></script>
    <script type="text/javascript" src="data.js"></script>
    <title><span id="title"></span></title>
</head>
<body>
<h3>Name: <span id="name"></span></h3><hr>
<h3>Analysis</h3><p><span id="analysis"> </span></p><hr>
<div id="relay1ChartContainer" style=" display:block; height: 200px; width: 100%;"></div>
<div id="relay2ChartContainer" style=" display:block; height: 200px; width: 100%;"></div>
<div id="analog1ChartContainer" style=" display:block; height: 200px; width: 100%;"></div>
<div id="analog2ChartContainer" style=" display:block; height: 200px; width: 100%;"></div>

<hr>
<h3>Ccu State</h3><p><span id="ccustate"></span></p><hr>
<h3>History</h3>
<table width:400; border=1; cellspacing=0; cellpadding=0; table-layout:fixed; word-wrap:break-word;>
    <tr><th> Simulation Input </th>
        <th> SmartNode State  </th>
    </tr>
    <tr><td id="input"> </td>
	    <td id="output"> </td>
    </tr>
</table>
</body>
</html>